<form action="">
    <div class="form-group">
        <label for="name">Name :</label>
        <input type="text" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="title">Title :</label>
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="ref">Ref :</label>
        <input type="text" class="form-control" id="ref" placeholder="ref">
    </div>
    <div class="form-group">
        <label for="duration">Duration :</label>
        <input type="text" class="form-control" id="Duration" placeholder="Duration secondes (s)">
    </div>

    <div class="form-group">
        <label for="description">Description :</label>
       <textarea class="form-control" id="description" cols="30" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" >Add</button>
</form>