<!-- <div *ngIf="shwoplayer" class="alert alert-primary" role="alert">
    title: ... , Artist: ...
    <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]=" ratio  + '%'" aria-valuenow="" aria-valuemin="0"
            aria-valuemax="100">
        </div>
        COMMENTE <p>{{currentSongNumber}} / {{total}}</p>
    </div>
</div> -->

<div *ngIf="shwoplayer" class="alert alert-primary" role="alert">
    <!-- Title: {{ playedAlbum.title }} , Artist: {{ playedAlbum.name }} -->
    title: ... , Artist: ...
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="ratio + '%'" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <!-- {{ currentSongNumber }} / {{ total }} -->
  </div>
  