<div [@fadeInAnimation] class="card bg-" *ngIf="album">
    <img class="card-img-top" src="{{album.url}}" alt="Group Music">
    <div class="card-body">
        <h5 class="card-title"> title: {{album.title}}</h5>
        <p class="card-text">Name: {{album.name}}</p>

        <button (click)="play(album)" class="btn btn-info">Play &gt;&gt;</button>

        <button (click)="hide(album)" class="btn btn-warning ms-2">Hide</button>
    </div>

    <!-- Si nous avons des sons dans la playlist -->
    <!-- <div *ngIf="condition; then ...; else ...." -->

        <button *ngIf="songs" (click)="shuffleAlbum(songs)" class="btn btn-success">Aléatoire</button>
        <div *ngIf="songs; then ifBlock; else elseBlock"></div>
        <ng-template #ifBlock>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let song of songs">
            {{song}}
          </li>
        </ul>
      </ng-template>


    <!-- Moi-même <ul *ngIf="album; else noLst" class="list-group">
        <li *ngFor="let list of tab" class="list-group-item ">{{ list }}</li>
    </ul> -->

    <!-- 
        Moi-Même <ng-template #elseBlock>
    <ul>
      <li class="list-group-item">Pas de son pour cet album</li>
    </ul>
  </ng-template> -->
  <ng-template #elseBlock>
    <ul>
      <li class="list-group-item">Pas de son pour cet album</li>
    </ul>
  </ng-template>
</div>