*,
*::before,
*::after{
    box-sizing: border-box;
}
 
header,
main,
.footer{
    margin-top: 1rem;
    max-width: 900px;
    margin-inline: auto;
}

footer{
    max-width: 100%;
    display: block;
    margin-top: 1rem;
}


footer > div{
    margin-top: 1rem;
    margin-inline: 30%;
    
}




h1{
    font-size: 2rem;
    text-align: center;
    color: brown;
}
article{
    text-align: center;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #aaa;
}