*,
*::before,
*::after{
    box-sizing: border-box;
}
 
header,
main,
footer{
    max-width: 900px;
    margin-top: 1rem;
    margin-inline: auto;

}

footer{
    max-width: 100%;
    display: block;
    margin-top: 1rem;
}


footer > div{
    margin-top: 1rem;
    margin-inline: 30%;
    
}



body{
    background-color: #aaa;
}
h1{
    font-size: 2rem;
    text-align: center;
    color: brown;
}
.container{
    text-align: center;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: brown;
}

.container p {
    width: 20%;
    display: block;
    font-size: 5rem;
    clip-path: ellipse(50% 50%);
    padding: 2rem;
    background-color: #fff;
}
span{
    display: flex;
    justify-content: center;

}

button{
    font-size: 2rem;
    margin: 1rem 2rem;
    padding: 0.5rem 1rem;
    border: 5px solid #eee;
    border-radius: 0.5rem;
}

button:hover{
    transition-duration: 1s;
    color: #fff;
    background-color: black;
}