/* You can add global styles to this file, and also import other style files */
.glyph-icon{
    max-width: 1.5%;
    margin-inline: 0.2rem;
}

.card{
    margin-block: 1rem;
}

.btn-outline-dark{
    background-color: #5BD1D7;
}