/* You can add global styles to this file, and also import other style files */
.glyph-icon {
    max-width: 3%;
    margin-inline: 0.2rem;
}

.card {
    margin-block: 1rem;
}



.mgInl {
    margin-inline: 0.2rem;
    margin-bottom: 0.5rem;

}
/* 
.works {
    margin-left: 15rem;
}

.inpt {
    margin-left: 20rem;
    
}

label {
    margin-inline: 1rem;
}

form button {
    margin-left: 1rem;
}

small .like {
    margin-inline: 3rem;
}

.inptText {
    font-size: 1.4rem;
    margin-left: 30rem;
}






 */