<app-search (searchAlbums)="search($event)"></app-search>

<div >
    <!-- <p class="works">albums works!</p> -->

    <!-- <div class="inpt p-2 border align-self-stretch">
        <form action="#" method="post">
            <label for="">app-music</label>
            <label for=""> Home</label>
            <label for=""> Se connecter</label>
            <input type="text" class=" inptText" placeholder="Search">
            <button type="button" class="btn btn-outline-success">Search</button>
        </form>
    </div> -->

    <div class="row content">
        <div class="col-sm-4 video">

            <app-album-details [album]="selectedAlbum"  (onPlay)="playParent($event)"></app-album-details>
        </div>

        
        <!-- CONDICTION VERIFIEZ SI IL N'Y A DES TAGS PRESENT DANS UN ALBUM SI CE N'EST PAS LE CAS LA DIRECTIVE NE CRE -->
        <div *ngIf="albums" class="col-sm-8 music">
            <h1>{{ titlePage }}</h1>

            <!--
        <div *ngFor="let album of albums" class="card">
            <div class="card-header">
               {{album.ref}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{album.title}}</h5>
                <p class="card-text">{{album.description}}</p>
                <a class="btn btn-outline-primary mgInl" href="#" role="button">fr</a>
                <a class="btn btn-outline-dark" href="#" role="button">{{album.like}}</a>
    
                <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
                <small>7</small>
                <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
                <small>{{album.duration}}</small>
            </div>
        </div> .card -->
            <div *ngFor="let album of albums" class="card">
                   <!-- <div class="card-header">
                     Pop <span *ngIf="status === album.id">[Play]</span>
                    </div> -->


                <div class="card-header">
                     Pop <span *ngIf="status === album.id" >[Play]</span>
                    {{album.ref}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{album.title}}</h5>
                    <p class="card-text">{{album.description}}</p>


                    <a *ngFor="let tag of album.tags" class="btn btn-outline-dark  mgInl btn badge bg-info " href="#"
                        role="button">{{tag}}</a>
                    <br>

                    <a class="btn btn-outline-dark mgInl" href="#" role="button">en</a>

                    <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
                    <small class="like">{{album.like}}</small>
                    <!-- 
                        
                     -->
                    <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
                    <small>{{album.duration}} min</small>
                    <br>
                    <button (click)="onSelect(album)">Appuyez</button>
                </div>
            </div>

        </div>
    </div>
</div>


